<%- include('../partials/header') %> 
    <h1>Hey <%= user.name %>!</h1>
    <h3>Take A Look At The Plants You Can Currently Collect Through The Plant Shop, Or By Taking Clippings From Generous Freinds!</h3>
    
    <% houseplants.forEach((p)=>{ %>

        <div class="card" style="width: 18rem;">
            <img src="<%= p.imageUrl %>" class="card-img-top" alt="plant-image">
            <div class="card-body">
                <h5 class="card-title"><%= p.name %></h5>
                <p class="card-text"><%= p.description %></p>
            </div>
            <div class="card-body">
            <% if(p.Ownedby.length === 0){ %>
                <p>No One Owns <%= p.name %> yet!</p>
           <% } else{ %> 
            <h5>Plant Pals Who Own A <%= p.name %> </h5>
                <ul>
                    <% p.Ownedby.forEach((o)=>{ %>
                        <li>
                            <a href="/users/<%= o._id %>"><%= o.name %></a>
                        </li>
                  <%  }) %> 
                </ul>
            <% } %>

                <a href="/houseplants/plantshop" class="card-link">Check The Plant Shop!</a>
            </div>
        </div>
    <% }) %> 
        
</ul>
<%- include('../partials/footer') %> 