<%- include('partials/header') %>
<h1 class=><%= message %></h1>
<img src="../../images/gifs/sadpeanut.gif" alt="Sad Peanut Gallery Member Standing Alone In Wispy Grasses">
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%- include('partials/footer') %>