<%- include('../partials/header') %> 
<header>
  <h1><%= title %> </h1>
  <form action="/messages" method="POST">
    <div>
        <input id="post-input" type="text" name="title" placeholder="Share your thoughts"> <button class="header-button" type="submit">Post Away</button>
    </div>
  </form>
</header>
<main>
  <% messages.forEach(m => { %>
    <div class="card m-3">
      <div class="card-header">
        <%= m.postedBy %> <img id="avatarPhoto" width="30" src="<%= m.avatar %>">
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= m.title %></h5>
        <h6><%= m.createdAt.toLocaleString()%></h6>
        <h6>No. of Responses: <%= m.replies.length %> </h6>
        <form action="/messages/<%= m._id %>" method="GET">
            <button type="submit">See Post and Reply!</button>
        </form>
      </div>
    </div>
  <% }) %>
<%- include('../partials/footer') %> 