<%- include('../partials/header') %> 
<header>
  <h1><%= title %> </h1>
  <form action="/messages" method="POST">
    <div>
        <input id="post-input" type="text" name="title" placeholder="Share your thoughts">
        <input type="text" hidden name="postedBy" value="<%= user._id %>">
        <button class="header-button" type="submit">Post Away</button>
    </div>
  </form>
</header>
<main>
  <% messages.forEach(m => { %>
    <% console.log(m.postedBy) %> 
    <div class="card m-3">
      <div class="card-header">
        <a href="/users/<%= m.postedBy[0]._id %> "><%= m.postedBy[0].name %><img id="avatarPhoto" width="30" src="<%= m.postedBy[0].avatar %>"></a>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= m.title %></h5>
        <h6><%= m.createdAt.toLocaleString()%></h6>
        <h6>No. of Responses: <%= m.replies.length %> </h6>
        <form action="/messages/<%= m._id %>" method="GET">
          <button type="submit">See Post and Reply!</button>
      </form>
      </div>
    </div>
  <% }) %>
<%- include('../partials/footer') %> 