<%- include('../partials/header') %> 
<header></header>
<main>
<% users.forEach((u)=>{ %>

    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <% if(!u.avatar) { %>
            <img src="https://www.thespruce.com/thmb/GXFlHQ6qbSNNYS-lYluILZcYhsc=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/chocolate-soldier-plant-profile-5024790-14-ec741ee603514091b516fb4b54070c0d.jpg" class="card-img-top" alt="plant-image">
        <% }%> 
        <img src="<%= u.avatar %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= u.name %></h5>
        </div>
        <div class="card-body">
            <a href="/users/<%= u._id %>" class="card-link">Peek Their Story <br>(and Collection)!</a>
        </div>
    </div>
<% }) %> 


<%- include('../partials/footer') %> 