<%- include('../partials/header') %> 
<header></header>
<main>
    <% users.forEach((u)=>{ %>
        <% if(u.email === user.email){ %> 
        <% } else { %>
            <div class="card text-center shadow p-3 mb-5 bg-white rounded m-3" style="width: 18rem;">
                <% if(!u.avatar) { %>
                    <img src="../../images/gifs/sadpeanut.gif" alt="Sad Peanut Gallery Member Standing Alone In Wispy Grasses" class="card-img-top" alt="plant-image">
            <% } else {%>
                <img src="<%= u.avatar %>" class="card-img-top" alt="plant-image">
            <% } %>
            <div class="card-body">
                <h5 class="card-title"><%= u.name %></h5>
            </div>
            <div class="card-body">
                <form action="/users/<%= u._id %>" class="card-link" method="GET">
                    <button type="submit">Peek Their Story & Plants</button>
                </form>
            </div>
            </div>
        <% } %>
<% }) %> 

<%- include('../partials/footer') %> 