<%- include('../partials/header') %> 

<h1><%= title %> </h1>


<% user.plantCollection.forEach((p)=>{ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= p.imageUrl %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= p.name %></h5>
        </div>
      <form action="/users/profile/personalcollection/<%= p._id %>" method="GET">
        <button type="submit">Plant Details</button>
    </form>
    </div>
<% }) %> 


<%- include('../partials/footer') %> 