<%- include('../partials/header') %> 

    <div class="card" style="width: 18rem;">
        <img src="<%= user.avatar %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text"><%= user.bio %></p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Your Houseplant Collection!</a>
        </div>
    </div>


<%- include('../partials/footer') %> 