<%- include('../partials/header') %> 

    <div class="card" style="width: 18rem;">
        <img src="<%= user.avatar %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <h5 class="card-title">Bio:</h5>
            <% if(!user.bio){ %>
                <form action="/users/profile" method="POST">
                <input type="text" placeholder="Tell Us About Yourself!">
                <button type="submit">Add Your Bio</button>
                </form>
            <% } else{ %>
                <p class="card-text"><%= user.bio %></p>
                <form action="/users/profile" method="post">
                    <input type="text" placeholder="Update Your Story!">
                    <button type="submit">Update Your Bio</button>
                </form>
            <% } %> 
            
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Your Houseplant Collection!</a>
        </div>
    </div>


<%- include('../partials/footer') %> 