<%- include('../partials/header') %> 
<header>

</header>
<main>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded m-3" style="width: 30rem;">
        <img src="<%= user.avatar %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <h5 class="card-title">Bio:</h5>
            <% if(!user.bio){ %>
                <form action="/users/profile?_method=PUT" method="POST">
                <input type="text" placeholder="Tell Us About Yourself!" name="bio">
                <button type="submit">Add Your Bio</button>
                </form>
            <% } else{ %>
                <p class="card-text"><%= user.bio %></p>
                <form action="/users/profile?_method=PUT" method="POST">
                    <input type="text" placeholder="Update Your Story!" name="bio">
                    <button type="submit">Update Your Bio</button>
                </form>
            <% } %> 
        </div>
        <div class="card-body">
            <form action="/users/profile/personalcollection" class="card-link" method="POST">
                <button type="submit">Your Houseplant Collection!</button>
            </form>
        </div>
    </div>


<%- include('../partials/footer') %> 