<%- include('../partials/header') %> 
<header></header>
<main>
<div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
    <img src="<%= user.avatar %>" class="card-img-top" alt="plant-image">
    <div class="card-body">
        <h1 class="card-title"><%= user.name %></h1>
        <h3 class="card-title">Bio:</h3>
        <% if(user.bio){ %>
            <h5 class="card-text"><%= user.bio %></h5>
        <% } else{ %>
           <h5><%= user.name %> hasn't shared their story yet! </h5>
        <% } %> 
    </div>
    <div class="card-body">
        <form action="/users/<%= user._id %>/usercollection" class="card-link" cmethod="GET">
            <button type="submit">Their Houseplant Collection!</button>
        </form>
        <form action="/users" method="GET">
            <button type="submit">Return To List Of Plant Pals</button>
        </form>
    </div>
</div>



<%- include('../partials/footer') %> 