<%- include('../partials/header') %> 
<header></header>
<main>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
        <% if(!userProfile.avatar) { %>
            <img src="../../images/gifs/sadpeanut.gif" alt="Sad Peanut Gallery Member Standing Alone In Wispy Grasses" class="card-img-top" alt="plant-image">
    <% } else {%>
        <img src="<%= userProfile.avatar %>" class="card-img-top" alt="user-profile-image">
    <% } %>
        <div class="card-body">
            <h1 class="card-title"><%= userProfile.name %></h1>
            <h3 class="card-title">Bio:</h3>
            <% if(userProfile.bio){ %>
                <h5 class="card-text"><%= userProfile.bio %></h5>
            <% } else{ %>
                <h5><%= userProfile.name %> hasn't shared their story yet! </h5>
            <% } %> 
        </div>
    <div class="card-body">
        <form action="/users/<%= userProfile._id %>/usercollection" class="card-link" cmethod="GET">
            <button type="submit">Their Houseplant Collection!</button>
        </form>
        <form action="/users" method="GET">
            <button type="submit">Return To List Of Plant Pals</button>
        </form>
    </div>
</div>



<%- include('../partials/footer') %> 