<%- include('../partials/header') %> 

<% user.plantCollection.forEach((p)=>{ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= p.imageUrl %>" class="card-img-top" alt="plant-image">
        <div class="card-body">
            <h5 class="card-title"><%= p.name %></h5>
            <p class="card-text"><%= p.description %></p>
            <form action="/houseplants/<%= p._id %>" method="GET">
                <button type="submit">Plant Details</button>
            </form>
        </div>
    </div>
<% }) %> 


<%- include('../partials/footer') %> 